@using VisaRoom.Web.App_GlobalResources;
@{
    Layout = null;
    Layout = "~/Views/Shared/_LayoutDBApplicant.cshtml";
}

<div class="row">
    <div class="col-md-4" >
        <div class="panel panel-magen dummy"  >
            <div class="panel-heading in" >
                <div class="row">
                    <div class="col-xs-12">
                        <i class="fa fa-question fa-5x"></i>
                        <span class="badge badge-warning" >5</span>
                    </div>
                    <div class="col-xs-12" >                       
                        <div><p>@Resource.lbl_MyQuestions</p></div>
                         <div>
                             @Html.Raw(@Resource.Detail_Question)
                         </div>
                        <div>
                            <br />
                            <button type="button"  class="btn btn-warning">@Html.Raw(@Resource.lbl_AskNow)</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>    
    <div class="col-md-4">
        <div class="panel panel-green dummy">
            <div class="panel-heading in">
                <div class="row">
                    <div class="col-xs-12">
                        <i class="fa fa-tasks fa-5x"></i>
                        <span class="badge badge-warning" >5</span>
                    </div>
                    <div class="col-xs-12">                       
                        <div><p>@Resource.lbl_MyDocs</p></div>
                        <div>
                            @Html.Raw(@Resource.Detail_Doc)                            
                         </div>
                        <div>
                            <br />
                            <button type="button"  class="btn btn-warning">@Html.Raw(@Resource.lbl_Upload)</button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="col-md-4" >
        <div class="panel panel-purpol dummy">
            <div class="panel-heading in" >
                <div class="row">
                    <div class="col-xs-12">
                        <i class="fa fa-comments fa-5x"></i>
                        <span class="badge badge-warning" >5</span>
                    </div>
                    <div class="col-xs-12">
                        
                        <div>
                            <p>@Resource.lbl_MyChat</p>
                        </div>
                        <div>
                             @Html.Raw(@Resource.Detail_Chat)   
                        </div>                     
                    </div>
                </div>
            </div>
            
        </div>
    </div>    
    <div class="col-md-4" >
        <div class="panel panel-blue dummy">
            <div class="panel-heading in">
                <div class="row">
                    <div class="col-xs-12">
                        <i class="fa fa-search-plus fa-5x"></i>
                         <span class="badge badge-warning" >5</span>
                    </div>
                    <div class="col-xs-12">
                       
                        <div><p>@Resource.lbl_SearchVisas</p></div>
                        <div>
                            @Html.Raw(@Resource.Detail_Search)                             
                         </div>
                        <div>
                            <br />
                            <button type="button"  class="btn btn-warning">@Html.Raw(@Resource.lbl_Search)</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-md-4" >
        <div class="panel panel-red dummy">
            <div class="panel-heading in" >
                <div class="row">
                    <div class="col-xs-12">
                        <i class="fa fa-group fa-5x"></i>
                        <span class="badge badge-warning" >5</span>
                    </div>
                    <div class="col-xs-12">
                        
                        <div><p>@Resource.lbl_AgentsMeetings</p></div>
                        <div>
                            @Html.Raw(@Resource.Detail_Agent)
                             
                         </div>
                        <div>
                            <br />
                            <button type="button"  class="btn btn-warning">@Html.Raw(@Resource.lbl_MakeAppointment)</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-md-4" >
        <div class="panel panel-yellow dummy " >
            <div class="panel-heading in" >
                <div class="row">
                    <div class="col-xs-12">
                        <i class="fa fa-credit-card fa-5x"></i>
                        <span class="badge badge-warning" >5</span>
                    </div>
                    <div class="col-xs-12">                       
                        <div><p>@Resource.lbl_Payment</p></div>
                        <div>
                            @Html.Raw(@Resource.Detail_Payment)
                             
                         </div>
                        <div>
                            <br />
                            <button type="button"  class="btn btn-warning">@Html.Raw(@Resource.lbl_Pay)</button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>                
</div>