@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - VisaRoom</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/jquery")
        @Styles.Render("~/content/bootstrapcss")
        @Scripts.Render("~/bootstrapjs")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("styles", required: false)

    </head>
    <body id="bodyPhoto" >
        
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top"  role="navigation" style="background-color:#39B7CD; margin-bottom: 0;">
            <div class="navbar-header" >
                <a class="navbar-brand"  style="width:225px; background-image:url(/Images/Logo.PNG)" href="#"></a>
               
                
            </div>
            
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
              <li class="dropdown">
                    <a href="#">
                        <i class="fa fa-user fa-fw"></i> Login
                    </a>
                  
                </li>
                <!-- /.dropdown -->
            </ul>
           
        </nav>       
        <div style="background-color:rgba(255,255,255,0.5); min-height: 568px;" >
            @RenderSection("featured", required: false)
            <section >
                @RenderBody()
            </section> 
            
            <footer>
                <div class="content-wrapper">
                    <div class="float-left">
                        <p>&copy; @DateTime.Now.Year -VisaRoom</p>
                    </div>
                </div>
            </footer>
        </div>
      
@RenderSection("scripts", required: false)
    </body>
</html>
