@model VisaRoom.Web.Models.LoginModel
@using VisaRoom.Web.App_GlobalResources;
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<script>
$(".validation-summary-errors").removeClass("validation-summary-errors");
$(".input-validation-error").removeClass("input-validation-error").parent().addClass("has-error");
</script>



@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
     @Html.AntiForgeryToken()
               
    if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        @Html.ValidationSummary()
                    </div>
    }

    
        <div class="row" >
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-primary" style="margin-top:5%;" >
                    <div class="panel-heading">
                        <h3 class="panel-title">@Resource.lbl_Log_in_Form</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">                    
                            <div class="form-group">
                                    @Html.LabelFor(m => m.UserName)
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "label label-danger" })               
                            </div>
                            <div class="form-group">
                                    @Html.LabelFor(m => m.Password)
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "label label-danger" })   
                             </div>
                             <div class="checkbox">
                                 <label>
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </label>
                              </div>
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="@Resource.lbl_LogIn" />
                            <p>
                                @Html.ActionLink(@Resource.lbl_Register,  "Index", "Home") @Resource.lbl_IfNotAccoun
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
 
    
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
